.contacts {
  font-size: 14px;
  font-weight: 400;

  &__title {
    margin: 0 0 20px;
    line-height: 141%;
  }

  &__value {
    display: block;

    line-height: 150%;
    color: $color-text-primary;
    text-decoration: none;

    transition: text-decoration-color $effect-duration;

    &:hover {
      text-decoration-color: currentColor;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}
