.events-link {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-decoration: none;

  &__text {
    writing-mode: sideways-lr;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: $color-text-muted;

    transition:
      color $effect-duration,
      transform $effect-duration;
  }

  &__line {
    transform-origin: top;

    width: 1px;
    height: 70px;

    background-color: $color-accent;

    transition: transform $effect-duration;
  }

  &:hover .events-link__line {
    transform: scaleY(1.3);
  }

  &:hover .events-link__text {
    transform: translateY(-10px);
    color: $color-accent;
  }
}
