.icon {
  display: block;

  width: $icon-size;
  height: $icon-size;

  background-repeat: no-repeat;
  background-position: center;
  background-size: $icon-size $icon-size;

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
  }

  &--go-back {
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/icon-arrow-up.svg);
    background-size: 16px 16px;
  }
}
