.logo {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 100%;
  color: $color-text-primary;
  text-align: center;
  text-decoration: none;

  @include hover(transform, scale(1.1));

  @include responsive-font-size(30px, 36px, 36px);

  &--footer {
    font-size: 36px;

    @include on-tablet {
      text-align: left;
    }
  }
}
