.main {
  &__events {
    @include content-padding-inline;
  }

  &__lecture {
    margin-bottom: 100px;

    @include on-tablet {
      margin-bottom: 88px;
    }

    @include on-desktop {
      margin-bottom: 200px;
    }
  }

  &__gallery {
    @include content-padding-inline;

    margin-bottom: 100px;

    @include on-tablet {
      margin-bottom: 92px;
    }

    @include on-desktop {
      margin-bottom: 200px;
    }
  }
}
