.schedule {
  font-size: 14px;
  font-weight: 400;
  line-height: 141%;
  color: $color-contrast;

  @include on-tablet {
    display: grid;
    grid-template-columns: minmax(170px, auto) 1fr;
    column-gap: 26px;
  }

  @include on-desktop {
    column-gap: 30px;
  }

  &--footer {
    color: $color-text-primary;

    @include on-tablet {
      display: block;
    }
  }

  &__title {
    margin: 0 0 20px;

    @include on-tablet {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__hours {
    margin-bottom: 16px;
    line-height: 150%;

    @include on-tablet {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: 0;
    }

    &--footer {
      margin-bottom: 16px;
    }
  }

  &__row {
    white-space: nowrap;

    &--footer {
      white-space: initial;
    }
  }

  &__time {
    font-weight: 600;
  }

  &__info {
    line-height: 150%;

    @include on-tablet {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
    }
  }

  &__label {
    font-weight: 600;
  }

  &__text {
    margin: 0;
  }
}
