.coming-soon {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 24px;

  text-align: center;

  &__title {
    margin: 0;
    font-size: 48px;
  }

  &__text {
    margin: 0;
    font-size: 18px;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
  }
}
