$color-background: #fff;
$color-text-primary: #0f0e08;
$color-accent: #1a5a4c;
$color-accent-muted: #1a5a4c40;
$color-accent-red: #f14a27;
$color-text-muted: #687480;
$color-contrast: #fff;
$color-content: #4e4e4e;
$color-pagination-dot: #e0e0e0;
$color-divider: #1a5a4c80;
$color-contrast-transparent: rgba(255, 255, 255, 0.5);
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$effect-duration: 0.3s;
$image-hover-scale: 1.05;
$font-main: 'IBM Plex Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$mobile-grid-gap: 20px;
$tablet-desktop-grid-gap: 30px;
$content-padding-mobile: 20px;
$content-padding-tablet: 34px;
$content-padding-desktop: 55px;
$icon-size: 24px;
